CRM.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "bad2479f-fcb9-4662-a436-ba2e1e3629c7",
      "name": "Telegram Trigger",
      "webhookId": "3e67a7e4-e8c8-46fa-bb3f-2ffd3c900f91",
      "credentials": {
        "telegramApi": {
          "id": "ghNXH6lA3tsu0Aee",
          "name": "BotApiOrigin"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente personal diseñado para ayudar en la organización del trabajo diario, responder preguntas, gestionar reuniones, correos electrónicos y tareas.\n\n**Funciones principales:**\n\n**1. Organización de notas de reuniones**\nSi se reciben notas de una reunión, organízalas con el siguiente formato:\nTema: [Título de la reunión]\nFecha: [Fecha de la reunión]\nNotas: [Resumen estructurado de los puntos clave discutidos]\nPróximos pasos: [Acciones a seguir]\nSi en los próximos pasos hay tareas que el usuario debe realizar, sugiere la creación de nuevas tareas y confirma antes de agregarlas con la herramienta “crear tareas”.\nSiempre sugiere una tarea de seguimiento dos días después de la reunión.\nUsa la herramienta “Traer eventos” para recuperar la información de la reunión y agrégala a las notas.\nLa fecha de hoy es: {{ DateTime.local().toFormat(‘cccc d LLLL yyyy’) }}. Si se mencionan términos como “mañana”, “ayer”, “hoy” o “la próxima semana”, siempre referencia la fecha actual correctamente.\n\n2. Herramienta: “Traer Reuniones\n\nPuedes acceder a todos los eventos en el calendario y recuperar información de fechas específicas.\nSi se solicitan reuniones de “la semana pasada”, recupera eventos desde el lunes hasta el viernes de la semana anterior.\nSi se piden eventos “para hoy”, usa la fecha actual”\n\n3. Herramienta: \"Crear eventos\"\n\nCuando se requiera crear un evento, solicita los siguientes datos\nFecha y hora de inicio y fin (formato: AAAA-MM-DD HH:mm:ss)\nTítulo del evento (si no se proporciona, sugiere uno)\nDescripción breve del evento (genérala y confirma antes de guardarla)\n\nAsegúrate de establecer la fecha y hora según la zona horaria del usuario.\n\nEl año es 2025 y la fecha actual es {{ DateTime.local().toFormat('cccc d LLLL yyyy') }}. No utilices ninguna otra fecha como \"hoy\".\n\n4. Herramienta: \"Traer correos\"\nPuedes acceder a los correos electrónicos no leídos y responder con un resumen en el siguiente formato:\n\nAsunto: {Asunto del correo}\nDe: {Remitente}\nCC: {Personas en copia}\nResumen: {Breve descripción del contenido del correo}\n\n5. Herramienta: \"Enviar correo\"\n\nCuando se solicite enviar un correo, genera un borrador con un asunto conciso basado en la información proporcionada.\n\n6. Herramienta: \"Crear tareas\"\n\nSi el usuario te pide crear tareas agrégalas a la hoja de Google Sheets con las siguientes columnas:\n\nTarea [Nombre de la tarea]\nDescripción [descripción detallada]\nFecha limite [Fecha limite]\nPrioridad [Urgente/Alta/Baja/Backlog]\nEstado [No Started/In Progress/Done/Blocked]\n\nSi no se especifica un nombre de tarea, sugiere uno.\nSi no indica una fecha limite, sugiere una basada en la prioridad y el tipo de tarea.\nSi la tarea ya existe, pregunta si debe actualizar en lugar de crear una nueva.\n\n7. Herramienta: \"Traer tareas\"\nSi el usuario solicita su lista de tareas, priorízalas por fecha de vencimiento y luego por nivel de prioridad\n\nEjemplo de respuesta\nTareas pendientes:\n1.\t[Alta prioridad] Enviar propuesta a cliente (vence mañana)\n2.\t[Media prioridad] Revisar informe mensual (vence en 3 días)\n3.\t[Baja prioridad] Organizar archivos de proyecto (backlog)\n\nPrincipales comportamientos del asistente:\n•\tClaridad: Si la solicitud no está clara, pide detalles antes de actuar.\n•\tValidación: Confirma antes de completar acciones importantes.\n•\tAdaptabilidad: Maneja solicitudes con diferentes niveles de detalle.\n•\tProactividad: Sugiere información adicional cuando los datos son insuficientes.\n•\tCoherencia lingüística: Asegúrate de que todos los textos, títulos y mensajes estén en español para mantener una experiencia fluida."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "f5301f66-c681-48c4-9bdb-fe01a9a4c19a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        120,
        420
      ],
      "id": "b6857503-8f75-4d4b-90a8-b203f2bcff26",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "IqEfMMDbcPXtOeoy",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json[\"message\"][\"from\"][\"id\"]}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        320,
        420
      ],
      "id": "b1c17d14-e342-4191-b3ed-eef090dc6b05",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "4d5c0e5d-28f9-4588-b2ea-bf1a753a7387",
      "name": "Telegram1",
      "webhookId": "9de9e998-c22c-4c9b-9533-193ddc3d3481",
      "credentials": {
        "telegramApi": {
          "id": "ghNXH6lA3tsu0Aee",
          "name": "BotApiOrigin"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "labelIds": [
            "INBOX",
            "UNREAD"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        820,
        420
      ],
      "id": "a51ec36b-291d-4a42-99a0-0d00c40d959e",
      "name": "Traer Correos",
      "webhookId": "8681a5ca-e525-4cdf-b782-97494b305624",
      "credentials": {
        "gmailOAuth2": {
          "id": "2yI4QTQDRErsMnuG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jh0693530@gmail.com",
          "mode": "list",
          "cachedResultName": "jh0693530@gmail.com"
        },
        "start": "={{ $fromAI(\"start\", \"date and time when the event should start in GMT, meaning the time user said, +5 hrs\") }}",
        "end": "={{ $fromAI(\"end\", \"date and time when the event should start in GMT, meaning the time user said, +5 hrs\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"attendees\", \"raw email of the attendees\") }}"
          ],
          "summary": "={{ $fromAI(\"title\", \"the title of the event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        660,
        420
      ],
      "id": "7cf2720d-7dcf-453d-8366-f4eb5cdb057d",
      "name": "Crear Eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6unCHcilcNERDeL0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "jh0693530@gmail.com",
          "mode": "list",
          "cachedResultName": "jh0693530@gmail.com"
        },
        "timeMin": "={{ $fromAI('start_date') }}",
        "timeMax": "={{ $fromAI('end_date') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        500,
        420
      ],
      "id": "366e7ec1-435e-4d79-899d-6ea82ca062e5",
      "name": "Traer Eventos",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "6unCHcilcNERDeL0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"to\", \"raw email addres of the recipient\") }}",
        "subject": "={{ $fromAI(\"subject\", \"a clear and concise subject lines\") }}",
        "message": "=  {{ $fromAI(\"body\", \"the body of the email\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        980,
        420
      ],
      "id": "1e9504b8-67f4-4cbd-a6fd-b0c8edab919a",
      "name": "Enviar Correos",
      "webhookId": "e4db2d8d-7140-4fa1-8db0-3b2121a3505b",
      "credentials": {
        "gmailOAuth2": {
          "id": "2yI4QTQDRErsMnuG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fIWMLAYdPR-8vHF3AlXytzDu2tEthMyd2YwsbL7JaRM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fIWMLAYdPR-8vHF3AlXytzDu2tEthMyd2YwsbL7JaRM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tarea": "{{ $fromAI(\"tarea\", \"nombre de la tarea\") }}",
            "Description": "{{ $fromAI(\"description\", \"description de la tarea\") }}",
            "Fecha Limite": "{{ $fromAI(\"fechalimite\", \"fechade la tarea\") }}",
            "Prioridad": "{{ $fromAI(\"prioridad\", \"prioridadde la tarea\") }}",
            "Estado": "{{ $fromAI(\"estado\", \"estado de la tarea\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tarea",
              "displayName": "Tarea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Limite",
              "displayName": "Fecha Limite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1140,
        420
      ],
      "id": "0e5bf8f0-615b-43c6-ba77-a57963c91d00",
      "name": "Crear Tareas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vybqEFLVj2P4KAhl",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fIWMLAYdPR-8vHF3AlXytzDu2tEthMyd2YwsbL7JaRM",
          "mode": "list",
          "cachedResultName": "Task Tracker - Taller n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fIWMLAYdPR-8vHF3AlXytzDu2tEthMyd2YwsbL7JaRM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fIWMLAYdPR-8vHF3AlXytzDu2tEthMyd2YwsbL7JaRM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        420
      ],
      "id": "12614604-6d47-4d60-baff-053aea39c53f",
      "name": "Traer Tareas",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vybqEFLVj2P4KAhl",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Traer Correos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Traer Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Correos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear Tareas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Traer Tareas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3358e0247f99db96c2339a74f92bd278c277a8659c2f824b80fa3ae21f14f90e"
  }
}